*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: steelblue;


}


.container{
    position: relative;
    background: #fff;
    width: 350px;
    height: 450px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
}

